nav {
  display: flex;
  width: 100%;
  min-height: 130px;
  /* text-align: right; */
  border: 1px solid blue;
}

.logo{
  flex: 2;
}
/*
#anna, #ana, #stix, #mary-alice{
height: 100px;
widows: 100px;;
} */

button {
border-radius: 100%;
width: 100px;
align-items: center;
}

/* #ana {
width: 100px;
height: 100px;
background-image: url('./img/anna.jpeg');
background-repeat: no-repeat;
} */


  body{
  background-image: url('../img/day.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
