body{
  background-image: url('../img/day.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#message-container{
  margin-top: 150px;
  background-color: lightcyan;
  border: 8px solid cornflowerblue;
  border-radius: 30px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

#message-card{
  /* border: 3px solid black; */
  margin: 10px;
  max-width: 70%;
  border-radius: 10px;
  padding: 5px;
  background-color: snow;
}
#message-card p{
  font-size: 14px;
}
.speech-bubble {
	position: relative;
	border: 3px solid #00aabb;
	border-radius: .4em;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}