#rainbow-text {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  color: black;
 }

 #rainbow-text #message-container{
  background-color: cyan;
  border: 8px solid snow;
}

#rainbow-text #message-card p{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
#rainbow-text .speech-bubble {
	position: relative;
	border: 5px solid hotpink;
  border-radius: .4em;
  margin: 10px;
  max-width: 70%;
  border-radius: 10px;
  padding: 5px;
  background-color: snow;
  background-image: none;
}
#rainbow-text .speech-bubble:after {
	border-right-color: hotpink;
}

#send {
  color: white;
 }
